html,
body {
  height: 100%;
  margin: 0;
  background-color: #0F0F0F;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.header {
  text-align: center;
}

.upload-section,
.progress-section,
.download-section {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.progress {
  height: 25px;
}

.btn-dark {
  background-color: #31363F;
  border-color: #31363F;
  transition: transform 0.3s;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.btn-dark:hover {
  background-color: #52796f;
  border-color: #52796f;
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
}

body {
  color: #cad2c5;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
}

.top-right a {
  color: #fff;
  text-decoration: none;
}

.top-right a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    margin-top: 10px;
  }

  .header {
    font-size: 20px;
  }

  .upload-section,
  .progress-section,
  .download-section {
    margin-top: 10px;
  }
}